@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-padrao: 'Poppins', sans-serif;
    --preto: #111;
    --branco: #fff;
    --cinza: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

section {
    padding: 100px;
    height: 100vh;
    background: var(--preto);
}

section header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section header .logo {
    position: relative;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

section header .toggle {
    width: 30px;
    height: 30px;
    background: url('/assets/img/menu.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}